<style>
    .tooltip {
        text-anchor: middle;
        font-family: sans-serif;
        font-size: 12px;
        font-weight: bold;
        fill: green;
    }

    .stacked-bar-tip {
        padding: 10px;
        position: relative;
        z-index: 9999;
        max-width: 80px;
        -webkit-box-shadow: 0 0 5px #aaa;
        box-shadow: 0 0 5px #aaa;
        border-radius:90px;
        align-content:center;
        background-color: white !important;
        color: blue !important;
        left:20px;
    }

    .ui-helper-hidden-accessible {
        visibility:hidden;
    }


</style>


<div class="container">
    <div id="graph-area" ng-controller="stackedCtrl2" />
</div>
